<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avicit.onlinemusic.dao.MessageServiceDaoMapper">
	<update id="updateMessage" parameterType="Message">
		update Message set
		user_from=#{userFrom},
		user_to=#{userTo},
		title=#{title},
		value=#{value},
		time=#{time},
		read_flg=#{readFlg}
		where id=#{id}
	</update>

	<delete id="deleteMessage" parameterType="Message">
		delete from Message where id
		=
		#{id}
	</delete>

	<insert id="saveMessage" parameterType="Message" useGeneratedKeys="true"
		keyProperty="id">
		insert
		into Message(
		user_from,
		user_to,
		title,
		value,
		time,
		read_flg
		)
		values
		(
		#{userFrom},
		#{userTo},
		#{title},
		#{value},
		#{time},
		#{readFlg}
		)
	</insert>
</mapper>