<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"

	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd     
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- 通过在你的Spring的配置中引入下列元素来启用Spring对@AspectJ的支持： -->
	<!-- 引入两个AspectJ库：aspectjweaver.jar和aspectjrt.jar -->
	<!-- 通过aop命名空间的<aop:aspectj-autoproxy />声明自动为spring容器中那些配置@aspectJ切面的bean创建代理，织入切面。当然，spring 
		在内部依旧采用AnnotationAwareAspectJAutoProxyCreator进行自动代理的创建工作，但具体实现的细节已经被aop:aspectj-autoproxy 
		隐藏起来了 <aop:aspectj-autoproxy />有一个proxy-target-class属性，默认为false，表示使用jdk动态代理织入增强，当配为<aop:aspectj-autoproxy 
		poxy-target-class="true"/>时，表示使用CGLib动态代理技术织入增强。不过即使proxy-target-class设置为false， 
		如果目标类没有声明接口，则spring将自动使用CGLib动态代理。 -->
	<!-- 如果在springmvc子上下文中配置了aop:aspectj-autoproxy 这儿可要可不要 -->
	<aop:aspectj-autoproxy />

	<!-- aop的两种实现方式==================================================================== -->
	<!-- 使用aspectj注解方式 实现一个aop -->
	<bean id="aspect1"
		class="com.avicit.framework.util.aop.aspect.NotVeryUsefulAspect" />

	<!-- 使用拦截器的方式实现一个aop -->
	<bean id="testInterceptor"
		class="com.avicit.framework.util.aop.interceptors.TestInterceptor" />

	<!-- ==================================================================== -->
	<!--【数据源1】 开 启 Spring 的 事 务 处 理 标准配置 管理数据源1 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<!-- 定义一个事务通知，管理者为transactionManager -->
	<tx:advice id="transactionInterceptor" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 所有controller里的方法都是Execute结尾 -->
			<tx:method name="*Execute" propagation="REQUIRED"
				rollback-for="java.lang.Exception" />
		</tx:attributes>
	</tx:advice>

	<!-- 用一个通知器（advisor）把这个切面与 事务通知 绑定在一起 || 定义了 一个切面 注意星号后面要有个空格 -->
	<!-- execution(* com.avicit.onlinemusic.controller.*Controller.*(..)) -->
	<!-- 如果ProxyFactoryBean的proxyTargetClass属性被设为true，那么一个基于CGLIB的代理将创建 -->
	<!-- 如果ProxyFactoryBean的proxyTargetClass属性被设为false，那么一个基于JDK的动态代理将创建 -->
	<!-- 一般情况下默认为false -->
	<aop:config >
		<aop:pointcut id="allControllerOperation" expression="bean(*Controller*)" />
		<aop:advisor advice-ref="testInterceptor" pointcut-ref="allControllerOperation"
			order="1" />
		<aop:advisor advice-ref="transactionInterceptor"
			pointcut-ref="allControllerOperation" order="2" />
	</aop:config>



	<!-- *******************************************数据源1和2 分界线***************************************************** -->

	<!-- 【数据源2】开 启 Spring 的 事 务 处 理 标准配置 管理数据源2 -->
	<bean id="transactionManager1"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource1" />
	</bean>


</beans>
