<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"

	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- 通过在你的Spring的配置中引入下列元素来启用Spring对@AspectJ的支持： -->
	<!-- 引入两个AspectJ库：aspectjweaver.jar和aspectjrt.jar -->
	
	<aop:aspectj-autoproxy />



	<bean id="student" class="test.spring.Student" />
	
	<!-- 声明一个切面 -->
	<bean id="myAspect" class="test.spring.TestUsefulAspect"/>
	<bean id="aspect1" class="com.avicit.framework.util.aop.aspect.NotVeryUsefulAspect"/>

	


</beans>
